<!DOCTYPE html>
<html lang="{{ site.locale }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png">

    <!-- https://katex.org/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.10/dist/katex.min.css" integrity="sha384-0cCFrwW/0bAk1Z/6IMgIyNU3kfTcNirlObr4WjrUU7+hZeD6ravdYJ3kPWSeC31M" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.10/dist/katex.min.js" integrity="sha384-dtFDxK2tSkECx/6302Z4VN2ZRqt6Gis+b1IwCjJPrn0kMYFQT9rbtyQWg5NFWAF7" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.10/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {% if page.title %} {{ page.title }} | {% endif %} {{ site.title }} - {{ site.description }}</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
        <h2> {{ site.description }} </h2>
        <nav>
          <a class="menuitem {% if page.name == "index.markdown" %} selected{% endif %}" href="/">Home</a>
          <div class="dropdown">
            <button class="menuitem dropbtn {% if page.is_primitive %}selected{% endif %}">Primitives</button>
            <div class="dropdown-content">
              <div class="separator">Sparkle-suite:</div>
              <a {% if page.name == "prim_alzette.markdown" %}class="selected"{% endif %} href="/alzette"><span class="prim-name">Alzette</span> <span class="prim-descr">an ARX-box</span></a>
              <a {% if page.name == "prim_sparkle.markdown" %}class="selected"{% endif %} href="/sparkle"><span class="prim-name">Sparkle</span> <span class="prim-descr">a permutation</span></a>
              <a {% if page.name == "prim_esch.markdown" %}class="selected"{% endif %} href="/esch"><span class="prim-name">(XO)Esch</span> <span class="prim-descr">an extendable output hash function</span></a>
              <a {% if page.name == "prim_schwaemm.markdown" %}class="selected"{% endif %} href="/schwaemm"><span class="prim-name">Schwaemm</span> <span class="prim-descr">Authenticated Encryption</span></a>
              <div class="separator">Bonus:</div>
              <a {% if page.name == "prim_trax.markdown" %}class="selected"{% endif %} href="/trax"><span class="prim-name">TRAX</span> <span class="prim-descr">a tweakable block cipher</span></a>
              <a {% if page.name == "prim_crax.markdown" %}class="selected"{% endif %} href="/crax"><span class="prim-name">CRAX</span> <span class="prim-descr">a classic block cipher</span></a>
            </div>
          </div>
          <a class="menuitem {% if page.name == "implementations.markdown" %}selected{% endif %}" href="/implementations">Implementations</a>
          <a class="menuitem {% if page.name == "cryptanalysis.markdown" %}selected{% endif %}" href="/security">Security</a>
        </nav>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {% if page.title %} <h1>{{ page.title }}</h1> {% endif %}

          {{ content }}

        </section>

        <aside id="sidebar">
          <h1>Useful links:</h1>
          <ul>
            <li><a href="https://csrc.nist.gov/projects/lightweight-cryptography">NIST Lightweight Cryptography Project</a></li>
            <li><a href="https://csrc.nist.gov/CSRC/media/Projects/lightweight-cryptography/documents/round-2/spec-doc-rnd2/sparkle-spec-round2.pdf">Specification (NIST LWC Round 2)</a></li>
            <li><a href="https://tosc.iacr.org/index.php/ToSC/article/view/8627">Lightweight AEAD and Hashing using the Sparkle Permutation Family</a> (ToSC 2020 S1)</li>
            <li><a href="https://link.springer.com/chapter/10.1007%2F978-3-030-56877-1_15">Alzette: a 64-bit ARX-box (feat. CRAX and TRAX)</a> (CRYPTO 2020) <a href="https://ia.cr/2019/1378">[extended]</a></li>
            <li><a href="https://github.com/cryptolu/sparkle">Code repository</a> (implementations, benchmarks, analysis tools, NIST packages)</li>
            <li><a href="https://cryptolux.org/images/a/a0/Sparkle-armv7m.zip">Sparkle-ARMv7M</a> (latest (?) optimized implementations on ARMv7M)</li>
          </ul>
        </aside>
      </div>
    </div>

    <footer>
      <div class="inner">
        <p>© 2019-2021 The SPARKLE Team (Christof Beierle, Alex Biryukov, Luan Cardoso Dos Santos, Johann Johann Großschädl, Amir Moradi, Léo Perrin, Aein Rezaei Shahmirzadi, Aleksei Udovenko, Vesselin Velichkov, Qingju Wang).</p>

        <p>This page was generated using <a href="https://jekyllrb.com/">Jekyll</a> with the <a href="https://github.com/jasonlong/architect-theme">architect-theme</a> by <a href="https://github.com/jasonlong">jasonlong</a>.</p>
      </div>
    </footer>
  </body>
</html>